@import "variables";

.header {
  height: $header-height;
  background-color: $header-color;
}

.buttons {
  font-family: $font-family;
  display: flex;
  justify-content: center;
}

a {
  text-decoration: none;
}


.home:hover, .loremipsum:hover, .support:hover {
  color: $header-hover-color;
  transition: $header-transition;
}

.home {
  color: $header-current-page-color;
  font-size: $header-font-size;
  padding: $header-padding;
}

.loremipsum {
  color: $header-buttons-color;
  font-size: $header-font-size;
  padding: $header-padding;
}

.support {
  color: $header-buttons-color;
  font-size: $header-font-size;
  padding: $header-padding;
}

.hamburger, .nav-mobile {
  display: none;
}

@media screen and (max-width: $media-querries-width) {
  .hamburger {
    display: block;
    padding-top: $header-padding-top-mobile;
  }

  .hamburger-div {
    width: $header-hamburger-width;
  }

  .hamburger-div:hover .nav-mobile {
    display: flex;
    position: fixed;
    flex-direction: column;
    width: $header-nav-mobile-width;
    background-color: $header-color;
  }

  .buttons {
    display: none;
  }
}

