$header-color: #000000;
$header-buttons-color: #808080;
$header-current-page-color: #ffffff;
$header-font-size: 20px;
$header-padding: 22.5px;
$header-height: 75px;
$header-hover-color: #c2d6d6;
$header-transition: 0.5s;
$header-padding-top-mobile: 10px;
$header-hamburger-width: 75px;
$header-nav-mobile-width: 200px;
$main-font-color: #ffffff;
$main-font-size-h1: 60px;
$main-font-size-h3: 40px;
$main-transition: 0.7s;
$main-scale: 1.05;
$font-family: Calibri;
$background-color: #494f5c;
$detail-buy-button-color: #9cb946;
$detail-buy-button-height: 70px;
$detail-buy-button-text-color: #ffffff;
$detail-buy-button-font-size: 25px;
$detail-buy-button-font-weight: bold;
$detail-line-height: 65px;
$detail-border-radius: 5px;
$detail-hover-color: #6e803c;
$detail-transition: 0.4s;
$detail-inner-container-left: 25%;
$detail-inner-container-top: 100px;
$detail-margin-left: 15%;
$detail-width-inner-container: 340px;
$detail-margin-top: 10px;
$detail-margin-bottom: 10px;
$media-querries-width: 1125px;
