$header-color: #000000;
$header-buttons-color: #808080;
$header-current-page-color: #ffffff;
$header-font-size: 20px;
$header-padding: 22.5px;
$header-height: 75px;
$header-hover-color: #c2d6d6;
$header-transition: 0.5s;
$header-padding-right-mobile: 90%;
$header-padding-top-mobile: 10px;
$main-font-color: #ffffff;
$main-font-size-h1: 60px;
$font-family: Calibri;
$background-color: #494f5c;

